# Prevent Vagrant related files.

.bundle/
.vagrant/
projects/

# Prevent Ansible related files.

ansible/project.config.yml
ansible/vagrant.config.yml
ansible/local.config.yml
ansible/roles/
local.config.yml

# Prevent miscellaneous/system files.

.DS_Store
.idea
