# Prevent Vagrant related files.

.vagrant/
docroot/

# Prevent Ansible related files.

ansible/project.config.yml
ansible/vagrant.config.yml
ansible/roles/

# Prevent miscellaneous/system files.

.DS_Store
.idea
