# Prevent Vagrant related files.

.bundle/
.vagrant/
projects/

# Prevent Ansible related files.

.beetbox/installed
provisioning/ansible/config/*
!provisioning/ansible/config/beetbox.config.yml
.beetbox/*
!.beetbox/config.yml
workspace/

# Prevent Packer related files.

provisioning/*.json

# Prevent miscellaneous/system files.

.DS_Store
.idea
