---
- hosts: localhost
  connection: local
  become: yes

  vars_files:
    - config/beetbox.config.yml
    - config/project.config.yml
    - config/vagrant.config.yml
    - config/local.config.yml

  roles:
    - { role: beetbox-tests, when: beet_run_tests }
