---
- hosts: localhost
  connection: local
  become: yes

  vars_files:
    - beetbox.config.yml
    - project.config.yml
    - vagrant.config.yml
    - local.config.yml

  pre_tasks:
    - include: tasks/init.yml

    # Create known_hosts.
    - include: tasks/known-hosts.yml
      when: known_hosts

  roles:
    - { role: beetbox-common }
    - { role: beetbox-drupal, when: beet_project == 'drupal' }
    - { role: beetboxvm.backdrop, when: beet_project == 'backdrop' }
    - { role: beetboxvm.cakephp, when: beet_project == 'cakephp' }
    - { role: beetboxvm.concrete5, when: beet_project == 'concrete5' }
    - { role: beetboxvm.kohana, when: beet_project == 'kohana' }
    - { role: beetboxvm.modx, when: beet_project == 'modx' }
    - { role: beetboxvm.silverstripe, when: beet_project == 'silverstripe' }
    - { role: beetboxvm.slim, when: beet_project == 'slim' }
    - { role: beetboxvm.wordpress, when: beet_project == 'wordpress' }

  tasks:
    - include: tasks/extras.yml
    - include: tasks/www.yml
    - include: tasks/apparmor.yml

    # Create symlinks.
    - include: tasks/create-symlinks.yml
      when: symlinks

    - name: Create welcome message.
      template:
        src: templates/welcome.txt.j2
        dest: "~/welcome.txt"
        force: yes
        mode: 0644
      become: no
