---
- hosts: localhost
  connection: local
  become: yes

  vars:
    beet_profile: "{{ lookup('env','BEET_PROFILE') | default('beetbox',true) }}"

  vars_files:
    - config/default.config.yml
    - "config/profiles/{{ beet_profile }}.config.yml"
    - config/project.config.yml
    - config/host.config.yml
    - config/config.yml
    - config/local.config.yml

  roles:
    - { role: beetbox-docker, when: ansible_virtualization_type != 'virtualbox' }
    - { role: beetbox-vagrant }
    - { role: beetbox-ubuntu }
    - { role: beetbox-virtualbox, when: ansible_virtualization_type == 'virtualbox' }
    - { role: beetbox-packer }
