---
- hosts: localhost
  connection: local
  become: yes

  vars_files:
    - beetbox.config.yml
    - project.config.yml
    - vagrant.config.yml
    - local.config.yml

  pre_tasks:
    - include: tasks/init.yml

    # Create known_hosts.
    - include: tasks/known-hosts.yml
      when: known_hosts

  roles:
    - { role: beetbox-common }
    - { role: beetbox-drupal, when: beet_project == 'drupal' }
    - { role: thomtoogood.beetbox-backdrop, when: beet_project == 'backdrop' }
    - { role: thomtoogood.beetbox-cakephp, when: beet_project == 'cakephp' }
    - { role: thomtoogood.beetbox-concrete5, when: beet_project == 'concrete5' }
    - { role: thomtoogood.beetbox-kohana, when: beet_project == 'kohana' }
    - { role: thomtoogood.beetbox-modx, when: beet_project == 'modx' }
    - { role: thomtoogood.beetbox-silverstripe, when: beet_project == 'silverstripe' }
    - { role: thomtoogood.beetbox-slim, when: beet_project == 'slim' }
    - { role: thomtoogood.beetbox-wordpress, when: beet_project == 'wordpress' }

  tasks:
    - include: tasks/extras.yml
    - include: tasks/www.yml
    - include: tasks/apparmor.yml

    # Create symlinks.
    - include: tasks/create-symlinks.yml
      when: symlinks

    - name: Create welcome message.
      template:
        src: ../templates/welcome.txt.j2
        dest: "~/welcome.txt"
        force: yes
        mode: 0644
      become: no
