---
- name: Add repository for PHP.
  apt_repository:
    repo: "ppa:ondrej/php"
    mode: 644
    update_cache: yes

- name: Purge PHP version packages.
  apt:
    name: "{{ item }}"
    state: absent
    purge: yes
    force: yes
  when: "'{{ php_version }}' not in item"
  with_items:
    - "{{ php55_packages }} + {{ php56_packages }} + {{ php70_packages }}"
  register: php_purge

- name: Set PHP 5.5 packages.
  set_fact:
    php_packages: "{{ php55_packages }}"
  when: "'{{ php_version }}' == '5.5'"

- name: Set PHP 5.6 packages.
  set_fact:
    php_packages: "{{ php56_packages }}"
  when: "'{{ php_version }}' == '5.6'"

- name: Set PHP 7.0 packages.
  set_fact:
    php_packages: "{{ php70_packages }}"
  when: "'{{ php_version }}' == '7.0'"
