---
- name: Update apt cache if needed.
  apt: update_cache=yes cache_valid_time=86400
  failed_when: false

- name: Get software for Python-based control.
  apt: "name={{ item }} state=installed"
  with_items:
    - curl
    - python-apt
    - python-httplib2
    - python-pycurl
    - build-essential

- name: Disable the ufw firewall (since we use a simple iptables firewall).
  service: name=ufw state=stopped
  failed_when: false

- name: Ensure beet_root directory exists.
  file:
    path: "{{ beet_root }}"
    state: directory
    mode: 0775
  become: no
  when: beet_root is defined

- name: Set SSH home directory.
  lineinfile:
    dest: "/home/{{ beet_user }}/.bashrc"
    state: present
    create: yes
    regexp: "^SSH_HOME="
    line: "SSH_HOME={{ beet_ssh_home }} && [ -e $SSH_HOME ] && cd $SSH_HOME"
  become: no
  when: beet_ssh_home is defined
